<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Quiz Game</title>
</head>
<body>
    <div class="container">
        <h1 class="mt-5">Quiz Game</h1>
        <form action="/submit" method="post">
            {% for question in questions %}
                <div class="mb-4">
                    <p>{{ loop.index }}. {{ question.question }}</p>
                    {% set index = loop.index0 %}
                    {% for option in question.options %}
                        <div>
                            <input type="radio" id="question_{{ index }}_{{ loop.index }}" name="question_{{ index }}" value="{{ loop.index0 }}" required>
                            <label for="question_{{ index }}_{{ loop.index }}">{{ option }}</label>
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        
    </div>
</body>
</html>
